<div ng-include="'views/public/pages/components/header.html'"></div>

<div class="content">
  <div class="row">
    <div class="large-8 columns">
      <h3 data-t-id="1"></h3>
    </div>
  </div>

  <div class="row">
    <div class="large-8 columns">

      <ul>
        <li ng-repeat="b in bears">
          <a ng-href="/bears/{{b.id}}">{{b.name}} - {{b.home}}</a>
          <button data-t-id="2" class="button alert" ng-click="deleteBear(b)"></button>
        </li>
      </ul>

    </div>

    <div ng-controller="create_controller" class="large-4 columns">
      <form ng-submit="createBear()">
        <label data-t-id="3" for="name"></label>
        <input id="name" type="text" ng-model="newBear.name">
        <label data-t-id="4" for="home"></label>
        <input id="home" type="text" ng-model="newBear.home">
        <button data-t-id="5" class="button" type="submit"></button>
      </form>

    </div>
  </div>
</div>
